<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="5">
  <test thread-count="5" name="Test">
  
 <!--  <groups>
  <run>
  <include name="Smoke Test"/>
  <exclude name="Functional Test"/>
  </run>
  </groups> -->
    <classes>
      <class name="BuilderFramework.BuiderPattern"/>
    </classes>
    
    
  </test> <!-- Test -->
</suite> <!-- Suite -->